[gerrit]
	basePath = git
	canonicalWebUrl = http://home.daiq.info:9081/gerrit/
[database]
	type = mysql
	hostname = localhost
	database = reviewdb
	username = gerrit2
[index]
	type = LUCENE
[auth]
	type = HTTP
	logoutUrl = http://localhost:8081/gerrit/logout/
[sendemail]
        enable = true
        smtpServer = smtp.163.com
	smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = daiq_server@163.com
	smtpPass = 1q2w3e
	from = CodeReview<daiq_server@163.com>
        sslVerify = false
	threadPoolSize = 10
[container]
	user = gerrit2
	javaHome = /work/tool/java/jdk1.7.0_71/jre
[sshd]
	listenAddress = localhost:29418
[httpd]
	listenUrl = proxy-https://localhost:8081/gerrit/
[cache]
	directory = cache
[gitweb]  
        cgi = /usr/lib/cgi-bin/gitweb.cgi 
